<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-sm-8 col-12">
      <div class="card shadow-sm rounded-4 p-4">
        <div class="image-card">
          <div class=" rounded-3 overflow-hidden mb-2 bg-white p-2">
            <img
              src="../../../assets/images/logo.jpeg"
              alt="Bank QR Code 2"
              class="w-100 object-fit-contain"
              style="height: 130px; width: 440px; margin: auto; display: block;">
          </div>
        </div>

        <!-- Login Form -->
        <form (ngSubmit)="onLogin()">

          <!-- Email -->
          <div class="mb-3">
            <label for="email" class="form-label small-text">{{ 'AUTH.EMAIL' | translate }}</label>
            <input type="email" id="email" class="form-control form-control-sm"
                   [(ngModel)]="user.email" name="email"
                   [placeholder]="'AUTH.EMAIL_PLACEHOLDER' | translate" required>
          </div>

          <!-- Password -->
          <div class="mb-3 position-relative">
            <label for="password" class="form-label small-text">{{ 'AUTH.PASSWORD' | translate }}</label>
            <input type="password" id="password" class="form-control form-control-sm"
                   [(ngModel)]="user.password" name="password"
                   [placeholder]="'AUTH.PASSWORD_PLACEHOLDER' | translate" required>
          </div>

          <!-- Submit Button -->
          <button type="submit" class="btn btn-primary w-100 btn-sm">
            {{ 'AUTH.SIGN_IN.BUTTON' | translate }}
          </button>

          <!-- Switch to Signup -->
          <p class="text-center mt-3 small-text">
            {{ 'AUTH.SIGN_IN.NO_ACCOUNT' | translate }}
            <a class="login-link" href="/auth/register">
              {{ 'AUTH.SIGN_IN.SIGN_UP_LINK' | translate }}
            </a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
